covers/*
dbcache/*
test/*
cred/*
library/*
webm/*
ytm/*
logs/*
ffmpeg
.DS_store
configfile.py
configfiletest.py
__pycache__/*
helper/*
keys/*
library_unused_tracks/*
os/*
_manifest/*
dbcache/*
manual_audio/*
