covers/*
cards/*
__TEST_GAPLESS/*
html/*
dbcache/*
test/*
cred/*
library/*
library-tbd/*
webm/*
ytm/*
logs/*
pandora/*
ffmpeg
.DS_store
configfile.py
configfiletest.py
__pycache__/*
helper/*
keys/*
library_unused_tracks/*
os/*
_manifest/*
dbcache/*
manual_audio/*
mobile/*
hardware/*
.gitignore
.cursor/*
memory-bank/*

backup_alchemy_files_player.py
noaa.py
noaa2.py
noaa2.py.py
mp3towav.py
rssdownload.py
test_audio_alchemy.py
testemail.py
s1.py

convert/*
convert_to_flac.py
.gitignore